/* Reset  */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
 background-color:white;
 margin: 0 auto ;
 padding: 20px;
 width: 100%;
 min-height: 100vh;
 font-size: 18px;
 font-family: Poppins;
 font-weight: 700;

}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    gap: 3rem;
   
}

.nav-bar_links a:hover {
    color: hsl(260, 8%, 14%);
    
}

.nav-bar_links,.auth-links {
    display: flex;
    gap: 3rem;
   
}

.auth-links a:hover {
    background-color: hsl(180, 66%, 49%);
    border-radius: 15px;
    color: white;
    padding: 10px;
}

 a {
    color: hsl(257, 7%, 63%);
    text-decoration: none;
    font-weight: 700;
    cursor: grab;
 }

.main-form_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 0;
}

.main-form_text {
    flex:1;
    
}

.main-form_img {
    flex:1;
    display: flex;
    justify-content: center;
}

.main-form_img img {
    width: 100%;
    max-width: 500px;
}


.main-form_subtitle {
    color: hsl(257, 7%, 63%);
    font-weight: 500;
}

.start_btn {
    background-color: hsl(180, 66%, 49%);
    border-radius: 15px;
    color: white;
    padding: 10px;
}
.start_btn :hover {
background-color: hsl(180, 66%, 49%);
    border-radius: 15px;
    color: white;
    padding: 10px;
}

